@import "../../../../../style-module/config";
// 点位信息
.no-position {
  .position-container {
    display: flex;
    margin-left: 16px;
    width: 100%;
    margin-top: 20px;
    // 点位号
    .position-num {
      margin-right: 40px;
      font-size: 16px;
      font-weight: bold;
      line-height: 40px
    }
  }
}

