<div class="index-statistics-container">
  <div class="statistics-title">
    {{title}}
  </div>
  <!--  设施总数-->
  <div class="statistics-total-count" *ngIf="type === cardType.deviceCount" [appTenantPermission]="'3-1'">
    <ul class="all-device">
      <li class="statistics-total-item device-item" *ngFor="let item of statisticsNumber">
        <div class="statistics-total-bottom">
          <div class="statistics-total-center iconfont icon-fiLink-xl" [ngClass]="'fiLink-number-'+ item"></div>
        </div>
      </li>
    </ul>
  </div>
  <!--  不同类型的设施总数-->
  <div class="statistics-total-count" *ngIf="type === cardType.typeCount && statisticsCount.length" [appTenantPermission]="'3-2'">
    <ul class="device-amount">
      <li class="statistics-total-item" *ngFor="let item of statisticsCount">
        <div class="statistics-total-name hidden">{{item.label}}</div>
        <span class="icon-fiLink-l" [ngClass]="item.iconClass"></span>
        <div class="statistics-total-number hidden" [ngClass]="item.textClass">{{item.sum}}</div>
      </li>
    </ul>
  </div>
  <div class="statistics-total-count" *ngIf="type === cardType.typeCount && !statisticsCount.length">
    <span class="statistics-no-data">{{this.indexLanguage.noData}}</span>
  </div>
  <!--  设施状态-->
  <div class="statistics-content" *ngIf="type === cardType.deviceStatus" [appTenantPermission]="'3-3'">
    <div echarts [options]="deviceStatusChartOption" class="chart-style" *ngIf="!noDeviceStatusChart"></div>
    <div class="padding-t" *ngIf="noDeviceStatusChart">
      <nz-empty class="empty"></nz-empty>
    </div>
  </div>
  <!--  当前告警总数-->
  <div class="statistics-content" *ngIf="type === cardType.alarmCount" [appTenantPermission]="'3-4'">
    <div echarts [options]="alarmCurrentLevelGroupOption" class="chart-style" *ngIf="!noAlarmCurrentLevelGroup"></div>
    <div class="padding-t" *ngIf="noAlarmCurrentLevelGroup">
      <nz-empty class="empty"></nz-empty>
    </div>
  </div>
  <!--  告警增量-->
  <div class="statistics-content" *ngIf="type === cardType.alarmIncrement" [appTenantPermission]="'3-5'">
    <div echarts [options]="alarmDateStatisticsOption" class="chart-style" *ngIf="!noAlarmDateStatistics"></div>
    <div class="padding-t" *ngIf="noAlarmDateStatistics">
      <nz-empty class="empty"></nz-empty>
    </div>
  </div>
  <!--  工单增量-->
  <div class="statistics-content" *ngIf="type === cardType.workIncrement" [appTenantPermission]="'3-6'">
    <div echarts [options]="procAddListCountOption" class="chart-style" *ngIf="!noProcAddListCount"></div>
    <div class="padding-t" *ngIf="noProcAddListCount">
      <nz-empty class="empty"></nz-empty>
    </div>
  </div>
  <!--  繁忙设施TOP-->
  <div class="statistics-content" *ngIf="type === cardType.busyTop" [appTenantPermission]="'3-7'">
    <div echarts [options]="userUnlockingTopOption" class="chart-style" *ngIf="!noUserUnlockingTop"></div>
    <div class="padding-t" *ngIf="noUserUnlockingTop">
      <nz-empty class="empty"></nz-empty>
    </div>
  </div>
  <!--  告警设施TOP-->
  <div class="statistics-content" *ngIf="type === cardType.alarmTop" [appTenantPermission]="'3-8'">
    <div echarts [options]="screenDeviceIdsGroupOption" class="chart-style" *ngIf="!noScreenDeviceIdsGroup"></div>
    <div class="padding-t" *ngIf="noScreenDeviceIdsGroup">
      <nz-empty class="empty"></nz-empty>
    </div>
  </div>
</div>
