.config-agreement-form {
  .button-group {
    margin-left: 20px;
    padding-bottom: 40px;
  }
}

.space-ok {
  margin-right: 20px
}

.file-change {
  display: none
}

.file-name {
  margin-right: 15px;
  display: block
}
.upload{
  display: block
}
