@import "../../../../style-module/config";
.alarm-warp {
  position: relative;
  .flex-show {
    display: flex;
  }
  .level-left{
    margin-left: 5px;
  }
}
.box-icon {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.select-alarm-box {
  width: 100%;
}

.select-alarm {
  position: absolute;
  left: 395px;
}

.show-type {
  width: 150px;
  margin-left: 10px;
}

.area-name {
  width: 100%;
  height: 22px;
  line-height: 15px;
}

.equipment-name {
  .title {
    color: $switch-bg-color;
  }
  &:hover{
    border-color: $color;
  }
}
.input-box {
  display: flex;
  justify-content: space-between;
  .width-style {
    line-height: 22px;
    outline: none;
    cursor: default;
    &:hover{
      border-color: $color;
    }
  }
}
