<!--为了减少性能消耗采用手写弹框-->
<div class="map-selector-modal-disk" [hidden]="!xcVisible">
  <div class="map-selector-modal">
    <div class="map-selector-title">
      <span class="title" >{{mapSelectorConfig.title}}</span>
      <span class="icon-close" (click)="handleCancel()">
        <i nz-icon type="close" theme="outline"></i>
      </span>
    </div>
    <div class="map-selector-content" [ngStyle]="{width:mapSelectorConfig.width}" #mapSelectorDom>
      <div class="map-right">
        <div class="operate">
          <i class="map-util icon-fiLink-l iconfont fiLink-arrow-select" [class.background]="drawType==='arrow'"
             (click)="chooseUtil('arrow')"></i>
          <i class="map-util icon-fiLink-l iconfont fiLink-box-select" [class.background]="drawType==='rectangle'"
             (click)="chooseUtil('rectangle')"></i>
        </div>
        <nz-card class="map-container" [ngStyle]="{height:mapSelectorConfig.height}">
          <div id="_mapContainer" >
          </div>
          <!--左上角选择框-->
          <div class="select-container">
            <div class="map-select">
              <nz-dropdown>
                <a nz-dropdown><span class="map-search-select" >{{searchTypeName}}</span><i nz-icon type="down" ></i> </a>
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="searchFacilityName()">
                    <a>{{indexLanguage.searchDeviceName}}</a>
                  </li>
                  <li nz-menu-item (click)="searchAddress()">
                    <a>{{indexLanguage.searchAddress}}</a>
                  </li>
                </ul>
              </nz-dropdown>
            </div>
            <div class="map-search">
              <!--设施名称搜索-->
              <div class="map-search-name" [ngStyle]="{'zIndex': IndexObj.facilityNameIndex}">
                <input
                  placeholder="{{indexLanguage.enterFacilityName}}"
                  nz-input
                  [(ngModel)]="inputValue"
                  (input)="onInput($event.target?.value)"
                  [nzAutocomplete]="auto"
                  (keydown)="keyDownEvent($event)"/>
                <nz-autocomplete nzBackfill #auto>
                  <nz-auto-option *ngFor="let option of options"
                                  (click)="optionChange($event,option.deviceId)"
                                  [nzValue]="option.deviceId"
                                  [nzLabel]="option.deviceName">
                    {{ option.deviceName }}
                  </nz-auto-option>
                </nz-autocomplete>
              </div>
              <!--百度地图地址搜索-->
              <div class="b-map-location-search" [ngStyle]="{'zIndex': IndexObj.bMapLocationSearch}">
                <div id="r-result">
                  <input type="text" placeholder="{{indexLanguage.enterPlace}}" id="_suggestId" size="20" value=""/>
                </div>
                <div id="_searchResultPanel"></div>
              </div>
              <!--谷歌地图地址搜索-->
              <div class="g-map-location-search" [ngStyle]="{'zIndex': IndexObj.gMapLocationSearch}">
                <input #input [(ngModel)]="searchKey" placeholder="{{indexLanguage.enterPlace}}" (keyup.enter)="location()"/>
                <div class="iconfont icon-fiLink fiLink-search location-icon" (click)="location()"></div>
              </div>
            </div>
          </div>

          <!--提示框-->
          <div *ngIf="isShowInfoWindow" class="info-window-container" [ngStyle]="{left: infoWindowLeft, top: infoWindowTop}">
            <div *ngIf="infoData.type === 'c'" class="info-window-c" [ngClass]="{'width-items': infoData.collectionInfoData.length > 1}">
              <div class="info-window-item" *ngFor="let data of infoData.collectionInfoData">
                <div class="info-window-item-icon" [ngClass]="data.className"></div>
                <div class="info-window-item-name">{{data.deviceTypeName}}</div>
                <div class="info-window-item-count">{{data.count}}</div>
              </div>
            </div>
            <div *ngIf="infoData.type === 'm'" class="info-window-m">
              <div class="info-window-m-name">
                <div>
                  <span class="info-data-w" [ngClass]="infoData.markerInfoData.deviceStatusColor" [ngStyle]="{'background-color': infoData.markerInfoData.deviceStatusColor,'color':'#fff'}">{{infoData.markerInfoData.deviceStatusName}}</span>
                  <span>{{infoData.markerInfoData.deviceName}}</span>
                </div>
              </div>
              <div>
                <span class="info-data-w" [ngStyle]="{'background-color': infoData.markerInfoData.areaLevelColor,'color':'#fff'}">{{infoData.markerInfoData.areaLevelName}}{{typeLg === 'US'?'':InspectionLanguage.area}}</span>
                <span>{{infoData.markerInfoData.areaName}}</span>
              </div>
              <div>
                <span class="iconfont icon-fiLink-s fiLink-filink-location-icon disabled-red-icon"></span>
                <span>{{infoData.markerInfoData.address}}</span>
              </div>
            </div>
          </div>

          <div class="zoom-control">
            <div class="zoom-control-item iconfont icon-fiLink fiLink-zoom-in"  (click)="zoomIn()" title="{{indexLanguage.magnify}}"></div>
            <div class="zoom-control-item iconfont icon-fiLink fiLink-zoom-out" (click)="zoomOut()" title="{{indexLanguage.narrow}}"></div>
          </div>

          <div class="progress-bar" *ngIf="isShowProgressBar">
            <p>{{language.loading}}...</p>
            <nz-progress [nzPercent]="percent" nzStatus="active"></nz-progress>
          </div>
        </nz-card>
      </div>
      <div class="table-left" >
        <div class="table-select">
          <span style="">{{language.selected}}：{{selectData.length}}/{{treeNodeSum}}{{language.count}}</span>
        </div>
        <div class="table-content" >
          <div class="table-content-wrapper" >
            <nz-card  [ngStyle]="{height:mapSelectorConfig.height}">
              <xc-table class="table-component" [dataSet]="selectPageData"
                        [pageBean]="selectPageBean"
                        [tableConfig]="selectorConfig"
                        (pageChange)="selectPageChange($event)">
              </xc-table>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
    <div class="map-selector-footer">
      <button class="link-button" [nzLoading]="isLoading" nz-button nzType="primary" (click)="handleOk()">
        {{language.confirm}}
      </button>
      <button class="link-button" nz-button nzType="danger" (click)="handleCancel()">{{language.cancel}}</button>
      <button class="link-button" nz-button nzType="danger" (click)="restSelectData()">{{language.reset}}</button>
    </div>
  </div>

</div>

<ng-template #handleTemp let-data="data">
  <span class="handle-icon" nz-tooltip [nzTitle]="language.unSelect" (click)="handleDelete(data)">
    <i nz-icon type="minus-square" theme="outline"></i>
  </span>
</ng-template>




