@import "../../../style-module/config";

.map-selector-modal-disk {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;

  .map-selector-modal {
    background: $bg-c-w;
    z-index: 99;

    .map-selector-title {
      height: 53px;
      border-bottom: 1px solid $cutting-line;
      line-height: 50px;

      .title {
        padding-left: 26px;
        font-weight: bold;
      }

      .icon-close {
        float: right;
        width: 50px;
        text-align: center;
        cursor: pointer;

        i {
          font-size: 14px;
          color: $color
        }
      }
    }

    .map-selector-content {
      display: flex;
      margin: 0 auto;

      .map-right {
        flex: 1;
        margin-left: 10px;

        .operate {
          line-height: 42px;
          padding-left: 18px;

          .map-util {
            width: 30px;
            height: 30px;
            font-size: 18px;
            margin-right: 16px;
            line-height: 30px;
          }
          .background {
            border: 1px solid $color;
          }
        }

        .map-container {
          position: relative;
        }

        #_mapContainer {
          height: 425px
        }
      }

      .table-left {
        width: 50%;

        .table-select {
          padding: 0 10px;
          display: flex;
          justify-content: space-between;

          span {
            line-height: 32px;
          }
        }

        .table-content {
          padding: 10px;

          .table-content-wrapper {
            width: 100%;
            overflow: auto;

            .table-component {
              width: 100%;
            }
          }
        }
      }
    }

    .map-selector-footer {
      height: 58px;
      padding-right: 8px;
      text-align: right;

      button {
        margin-right: 10px;
      }
    }
  }
}


.handle-icon {
  color: $color;
}

.search {
  position: absolute;
  width: 100px;
  left: 75px;
  top: 33px;
  height: 30px;
  background-color: $color;
  border-radius: 15px;
  display: flex;
  padding: 1px;
  align-items: center;

  input {
    outline: none;
    border: 1px solid $index-facility-input;
    border-radius: 15px;
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding: 5px 30px 5px 10px;
  }

  .location-icon {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 6px;
    background: url("../../../../assets/img/index/icon-location.png") no-repeat center;
    background-size: 100% 100%;
    width: 16px;
    height: 18px;
  }
}

.select-container {
  position: absolute;
  left: 35px;
  top: 35px;
  width: 400px;
  height: 32px;
  display: flex;
  align-items: center;
  background-color: white;

  .map-select {
    width: 110px;
    padding-right: 5px;
    text-align: center;
    border-right: 1px solid $cutting-line;

    .map-search-select {
      min-width: 50px;
      color: $color;

      i {
        color: $color;
      }
    }
  }

  .map-search {
    flex: 1;
    position: relative;
    height: 100%;

    .map-search-name {
      position: absolute;
      left: 10px;
      top: 0;
      width: 100%;

      input {
        border: none;
        border-radius: 0;
      }
    }

    .b-map-location-search {
      position: absolute;
      left: 10px;
      top: 0;

      #r-result {
        margin-top: 5px;

        input {
          border: none;
          outline: none;
          width: 270px;
          padding-left: 11px;
        }

        input::placeholder {
          color: #cbcbcb;
        }
      }

      #_searchResultPanel {
        border: 1px solid #c0c0c0;
        margin-top: 10px;
        width: 150px;
        height: auto;
        display: none;
      }
    }

    .g-map-location-search {
      position: absolute;
      left: 10px;
      top: 0;
      margin-top: 5px;

      input {
        border: none;
        outline: none;
        width: 270px;
        padding-left: 11px;
      }

      input::placeholder {
        color: #cbcbcb;
      }

      .location-icon {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 10px;
      }
    }
  }
}


.progress-bar {
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 49%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 5px 15px 5px 10px;
}

.info-window-container {
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -100%);
  margin-top: -10px;
  white-space: nowrap;

  .info-window-c {
    display: flex;
    max-width: 270px;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(256, 256, 256, 0.8);
    box-shadow: 5px 5px 5px #d0c9c9;

    .info-window-item {
      width: 120px;
      height: 25px;
      align-items: center;
      font-size: 14px;
      display: flex;

      .info-window-item-icon {
        margin-right: 5px;
      }

      .info-window-item-name {
        flex: 1;
      }

      .info-window-item-count {
        color: #b3b3b3;
      }
    }
  }

  .info-window-m {
    position: relative;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(256, 256, 256, 0.8);
    box-shadow: 5px 5px 5px #d0c9c9;

    .info-window-m-name {
      display: flex;
      height: 25px;
      align-items: center;
      font-size: 14px;

      .info-window-m-icon {
        margin-right: 5px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      width: 0;
      height: 0;
      margin-left: -4px;
      border-left: 4px solid transparent;
      border-top: 6px solid;
      border-right: 4px solid transparent;
    }

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      width: 0;
      height: 0;
      margin-left: -3px;
      border-left: 3px solid transparent;
      border-top: 5px solid $bg-c-w;
      border-right: 5px solid transparent;
    }
  }

  .info-window-r {
    position: relative;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(256, 256, 256, 0.8);
    box-shadow: 5px 5px 5px #d0c9c9;
    cursor: pointer;
  }
}

.info-data-w {
  display: inline-block;
  width: 50px;
  text-align: center;
  margin-right: 10px;
}

.zoom-control {
  bottom: 64px;
  right: 30px;
  top: auto;
  left: auto;
  white-space: nowrap;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  $size: 32px;

  .zoom-control-item {
    width: $size;
    height: $size;
    text-align: center;
    line-height: $size;
    font-size: 20px;
    background-color: $bg-c-w;
    border:  1px solid $color;
  }

  .fiLink-zoom-in {
    margin-top: 8px;
  }
}
