@import "../../share/style/common-style";
@import "../../../../style-module/config";

.workbench-warp {
  background: $table-bg-color;
  /*智慧杆数量样式*/
  .workbench-header {
    .card-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $bg-c-w;
      padding: 0 16px 20px;
      position: relative;

      .title {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }

      .equipment-box {
        display: flex;
        position: absolute;
        right: 0;
        transform: translateY(-30%);

        .equipment-right {
          position: relative;
          width: 140px;
          text-align: center;

          &:after {
            content: '';
            position: absolute;
            top: 14px;
            right: 0;
            height: 20px;
            border-right: 1px solid $border-color;
          }

          .content {
            font-size: 12px;
          }

          .number {
            font-size: 20px;
            font-weight: 500;
            color: $statistics-wisdom;
            text-align: center;
          }

          .content {
            color: $sp-icon-color-7;
          }

          .single {
            color: $statistics-jointClosure;
          }

          .centre {
            color: #c458e8;
          }
        }

        .border-none {
          margin-right: 0;

          &:after {
            content: '';
            border-right: none;
          }
        }
      }
    }

    .card-list {
      display: flex;
      margin-top: 10px;

      .card-box {
        width: 67.7%;
        position: relative;
        line-height: 32px;
        background: $bg-c-w;
        /*卡片标题样式*/
        .card-title {
          height: 54px;
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 10px 20px;

          .text {
            .title {
              font-weight: bold;
              margin-right: 20px;
            }

            .pagination {
              color: $disabled-font-color;
              font-size: 13px;

              .active-color {
                color: $color;
              }
            }
          }

          .card-header {
            .policy-add {
              color: $color;
              margin-left: 20px;
            }

            .fiLink-add-no-circle {
              color: $bg-c-w;
            }

            .card-btn {
              margin-top: 1px;
            }
          }
        }

        /*卡片样式*/
        .card-content {
          border-top: 1px solid $border-color;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 20px 50px 8px 50px;

          .card-details {
            width: 49.5%;
            margin-bottom: 12px;
            height: 156px;
            padding: 4px 6px 6px 6px;
            cursor: pointer;
            border-radius: 4px;

            .title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 30px;

              .strategy {
                display: flex;
                align-items: center;

                .light {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background: #58c1f0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 10px;

                  .fiLink-light {
                    font-size: 30px;
                    color: $bg-c-w;
                  }
                }

                .title-tips {
                  font-size: 14px;
                  font-weight: bold;
                  width: 140px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  cursor: pointer;
                }

                .strategy-tips {
                  color: $sp-icon-color-7;
                  font-size: 14px;
                }
              }

              .img-icon {
                margin-right: 10px;
              }

              .title-switch {
                margin-top: -16px;
              }
            }

            .execute {
              display: flex;
              font-size: 14px;

              .label-left {
                width: 100px;
                color: $sp-icon-color-7;
              }

              .label-right {
                white-space: nowrap;
              }
            }

            .execute-bottom {
              margin-bottom: 10px;
            }

            .available-img {
              text-align: center;
            }

            .available-text {
              text-align: center;
              color: $border-color;
              font-size: 12px;
            }
          }

          .available-data {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 156px;
            border-radius: 4px;
          }
        }

        /*上一页*/
        .prev-page {
          left: 16px;
        }

        /*下一页*/
        .next-page {
          right: 16px;
        }

        .paging-icon {
          @include page-style;
          font-size: 24px;
          color: $color;
        }

        .not-allowed {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }

      /*便捷入口样式*/
      .content-right {
        width: 33.3%;
        background: $bg-c-w;
        margin-left: 10px;
        min-width: 430px;

        .content-title {
          padding: 10px 20px;
          margin-bottom: 0;
          line-height: 33px;
          font-weight: bold;
          height: 54px;
        }

        .content-box {
          border-top: 1px solid $border-color;
          height: 500px;
          width: 100%;

          .convenient-title {
            display: flex;
            padding: 0 20px;
            margin-top: 10px;

            .title {
              margin-right: 20px;
            }
          }

          .instruct-list {
            display: flex;
            align-items: center;
            padding: 0 20px;
            margin-top: 16px;

            .instruct-title {
              display: flex;
              margin-right: 20px;

              .light {
                width: 24px;
                border-radius: 100%;
                background: $handle-processing-color;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                .fiLink-light {
                  color: $bg-c-w;
                }
              }

              .switch {
                color: white;
                display: inline-block;
                width: 24px;
                height: 24px;
                text-align: center;
                line-height: 24px;
                background-color: $facility-edit-color;
                border-radius: 50%;
              }
            }

            .instruct-volume {
              width: 200px;
              margin-right: 10px;
            }
          }

          .equipment-list {
            padding: 20px 20px;

            .equipment-title {
              font-weight: bold;
            }
          }

          .convenient {
            text-align: center;
            margin-top: 50px;
          }
        }
      }
    }

    /*暂无数据样式*/
    .available {
      background: $bg-c-w;
      margin-top: 10px;
      display: flex;
      height: 500px;
      align-items: center;
      justify-content: center;

      .icon {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 50px;

        img {
          width: 100px;
          height: 100px;
        }

        .iconfont {
          font-size: 40px;
        }
      }

      .strategy {
        width: 100%;
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
        color: #ddd;
      }

      .btn {
        width: 100%;
        text-align: center;
        margin-top: 20px;

        .fiLink-add-no-circle {
          color: $bg-c-w;
        }
      }
    }

    /*统计样式*/
    .chart-list {
      .charts-statistics {
        display: flex;
        margin-top: 10px;

        .whole {
          .chart-box {
            background: $bg-c-w;
            margin-right: 10px;
            padding-bottom: 10px;
            flex:1;

            .statistics {
              display: flex;
              justify-content: space-between;
              position: relative;
              width: 100%;
              height: 54px;
              line-height: 54px;
              padding: 0 16px;

              &:after {
                @include border-style;
              }

              .title {
                font-weight: bold;
              }
            }

            .work-order-left {
              display: flex;
              align-items: center;
              position: relative;
              height: 54px;

              &:after {
                @include border-style;
              }

              .title {
                font-weight: bold;
                padding: 0 16px;
                margin: 0;
              }

              .electricity {
                padding: 20px;
                display: flex;
              }

              .statistics-date {
                margin-left: 10px;

                /deep/ .ant-calendar-picker {
                  width: 250px !important;
                }
              }
            }
          }
          .chart-box:last-child{
            margin-right: 0;
          }

          .chart-width {
            width: 50%;
          }

          .chart-none {
            margin-right: 0;
          }
        }

        .whole-left {
          width: 67.7%;
          display: flex;

        }

        .whole-right {
          width: 33.3%;
          margin-left: 10px;
          min-width: 430px;
          background: $bg-c-w;
        }
      }

      .work-order {
        display: flex;
        margin-top: 10px;

        .title {
          font-weight: bold;
          margin: 0 0 0 16px;
          height: 54px;
          line-height: 54px;
        }


        .equipment-status {
          background: $bg-c-w;
          //padding: 20px;
          width: 50%;
          margin-right: 10px;
          position: relative;

          &:after {
            @include border-style;
          }
        }

        .interval {
          margin-right: 0;
        }
      }
    }
  }
}

/*统计条件选中样式*/
.work-statistics {
  display: flex;
  color: $border-color;
  font-size: 13px;

  .work-title {
    padding-right: 10px;
    cursor: pointer;
  }

  .active {
    color: $color;
  }
}

.fiLink-filink-riqi-icon {
  color: $handle-processing-color;
}

.fiLink-time {
  color: $menu-hover-color;
}

/**
 * 被选中的列表
 */
.be-selected {
  border: 1px solid $color;
}

/**
* 没有统计数据的时候
 */
.empty-container {
  height: 266px;
  padding-top: 80px;
}

.chart{
  height: 266px;
}
