<div class="options-body">
  <i class="iconfont footer-before-icon fiLink-filink-tupianwenjian-icon"></i>
  <span class="footer-content">测试图片.jpg</span>
  <span class="footer-operate">
              <i class="iconfont icon-right icon-fiLink fiLink-video-tingzhibofang"
                 title="同步播放内容" (click)="screenPlayChange()"></i>
               <i class="iconfont special-icon-right icon-fiLink fiLink-pic-left1"></i>
               <i class="iconfont special-icon-right icon-fiLink fiLink-pic-bofang1"></i>
               <i class="iconfont special-icon-right icon-fiLink fiLink-video-tingzhibofang"></i>
               <i class="iconfont special-icon-right icon-fiLink  fiLink-pic-right1"></i>
            </span>
</div>
