@import '../../../../style-module/config.scss';
@import '../../../../style-module/trouble/trouble.scss';

// 工单详情剩余天数状态
$progress1: '../../../../../assets/img/work-order/schedule-1.png';
$progress2: '../../../../../assets/img/work-order/schedule-2.png';
$progress3: '../../../../../assets/img/work-order/schedule-3.png';

// XXX星评价图片
$star0: '../../../../../assets/img/work-order/star-zero.png';
$star1: '../../../../../assets/img/work-order/star-one.png';
$star2: '../../../../../assets/img/work-order/star-two.png';
$star3: '../../../../../assets/img/work-order/star-three.png';
$star4: '../../../../../assets/img/work-order/star-four.png';
$star5: '../../../../../assets/img/work-order/star-five.png';

// 处置节点
$circles: '../../../../../assets/img/work-order/circles.png';


