.backup-setting {
  .backup-cycle-time {
    width: 75%;
  }

  .backup-cycle-unit {
    width: 25%;
  }

  .footer-btn {
    padding-left: 20px;
    padding-bottom:40px;

    .link-button {
      margin-right: 20px;
    }
  }

  .backup-data-address {
    width: 300px;
    margin-right: 5px;
  }
}
