<div class="notfound">
  <div class="icon-img">
    <svg aria-hidden="true">
      <use xlink:href="#fiLink-ITquanxian"></use>
    </svg>
  </div>
  <div class="notfound-reason">
    <h1>
      <span>{{language.notfound.hint}}</span>
    </h1>
    <p>{{language.notfound.reason}}：</p>
    <ul>
      <li>
        {{language.notfound.noPage}}
      </li>
      <li>
        {{language.notfound.noPermission}}
      </li>
      <div class="error-code"> {{language.notfound.relation}}</div>
    </ul>
  </div>
</div>

