<div class="check-select" tabindex='0'
     (mousemove)="isShowClear = false"
     (mouseleave)="isShowClear = true;isCollapsed = true;"
>
  <div class="check-select-box">
    <input
      type="text"
      [(ngModel)]="checkedStr"
      readonly="readonly"
      nz-input
      [title]="checkedStr"
      (click)="isCollapsed = !isCollapsed"
      [placeholder]="placeholder">
    <div class="check-list" [hidden]="isCollapsed">
      <ul *ngIf="checkList.length>0">
        <li *ngIf="isAllChecked && checkList.length>1">
          <label nz-checkbox
                 [disabled]="allDisable"
                 (ngModelChange)="allChecked($event)"
                 [(ngModel)]="checkAllStatus">{{language.SelectAll}}</label>
        </li>
        <li *ngFor="let item of checkList">
          <label nz-checkbox
                 (ngModelChange)="checkItem(item)" [disabled]="item.isDisable"
                 [(ngModel)]="item.checked">{{item.label}}</label>
        </li>
      </ul>
      <nz-empty *ngIf="checkList.length===0"></nz-empty>
    </div>
  </div>
  <i nz-icon type="down" theme="outline" *ngIf="isCollapsed&&!(!isShowClear&&checkedStr.length>0&&isCollapsed)"
     (click)="isCollapsed = !isCollapsed"></i>
  <i nz-icon type="up" theme="outline" *ngIf="!isCollapsed&&!(!isShowClear&&checkedStr.length>0&&isCollapsed)"
     (click)="isCollapsed = !isCollapsed"></i>
  <i nz-icon type="close-circle" theme="outline" *ngIf="!isShowClear&&checkedStr.length>0&&isCollapsed"
     (click)="clearData()"></i>
  <div class="check-selected">
  </div>
</div>
