@import '../../../style-module/config';
.check-select {
  display: flex;
  position: relative;
  outline: 0;

  input {
    border-color: $border-color;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    min-width: 170px;
    cursor: pointer;
  }
  .check-select-box{
    position: relative;

    .check-list {
      z-index: 19;
      position: absolute;
      width: 100%;
      background-color: white;
      border: 1px solid rgba(0,0,0,.25);
      border-top: none;
      border-radius: 5px;
      max-height: 250px;
      overflow: auto;

      ul {
        li {
          padding: 5px 12px;
        }
      }
    }
  }


  .check-selected {
    position: absolute;
  }
  i {
    position: absolute;
    top: calc(50% - 7px);
    right: 5px;
    cursor: pointer;
    color: rgba(0,0,0,.25);
  }
}
