<!--回路列表地图-->
<div id="drag-box" (drop)="dropHandle($event)" (dragover)="dragoverHandle($event)">
  <!--地图部分-->
  <div id="drag-content">
    <loop-map #mainMap
              [hidden]="!isShowUpIcon"
              class="map-content"
              [mapConfig]="mapConfig"
              [data]="data"
              [iconSize]="iconSize"
              [selectedLoop]="loopSelectedData"
              [centerPoint]="centerPoint"
              (mapEvent)="mapEvent($event)"
              [isFromLight]="true">
    </loop-map>
    <!--      我的关注-->
    <div class="left-panel">
      <div class="left-panel-tabs">
        <!--我的关注列表页-->
        <div class="myCollection-list left-panel-tab tab-selected"
             (click)="onShowMyCollection(isShowMyCollection)">
          <div class="icon-type"><i class="iconfont fiLink-facility-list"></i></div>
          <div class="text-content hidden" title="{{indexLanguage.myCollection}}">{{indexLanguage.myCollection}}</div>
        </div>
      </div>
      <!--    关注列表-->
      <my-attention [facilityOrEquipment]="facilityOrEquipment"
                    *ngIf="isShowMyCollection">
      </my-attention>
    </div>
    <div class="zoom-control-item iconfont icon-fiLink fiLink-collected button-collect"
         title="{{languageTable.equipmentMap.addAttention}}"
         (click)="handleAddAttention()">
    </div>
    <!-- 框选图标-->
    <div class="zoom-control-item iconfont icon-fiLink-2 fiLink-map-selection"
         title="{{assetLanguage.frameSelection}}"
         (click)="mapSelectData()">
    </div>
    <!--地图右下角移入移出按钮 -->
    <div class="map-right-button" *ngIf="isShowButton">
      <ul class="button-ul">
        <li class="button-li" (click)="moveIntoOrOutLoop(false)" [appAccessPermission]="'03-10-7'">
          <span class="button-icon-right"><i class="iconfont icon-fiLink fiLink-move-into"></i></span>
          <span>{{assetLanguage.moveIntoLoop}}</span>
        </li>
        <li class="button-li" (click)="moveIntoOrOutLoop(true)" [appAccessPermission]="'03-10-8'">
          <span class="button-icon-right"><i class="iconfont icon-fiLink fiLink-move-out"></i></span>
          <span>{{assetLanguage.moveOutTheLoop}}</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- 拖拽触发处-->
  <div *ngIf="isShowUpIcon" [draggable]="true" id="drag-start" (dragstart)="dragstartHandle($event)"></div>
  <!-- 地图大小变化的触发图标按钮-->
  <div class="map-icon-part">
    <div *ngIf="isShowUpIcon">
      <i nz-icon nzType="double-left" nzTheme="outline" class="up-icon" (click)="mapMinHeightChange()"></i>
    </div>
    <div *ngIf="isShowDownIcon">
      <i nz-icon nzType="double-left" nzTheme="outline" class="down-icon" (click)="mapBigHeightChange()"></i>
    </div>
  </div>
</div>
<!--回路列表弹框-->
<app-loop-list-selector *ngIf="isVisible"
                        [title]="loopModalTitle"
                        [tableData]="loopChangeDataSet"
                        [(xcVisible)]="isVisible"
                        [isOkChange]="false"
                        [filterConditions]="filterConditions"
                        (selectListDataChange)="selectLoopData($event)">
</app-loop-list-selector>


<!--批量添加关注-->
<app-multiple-collect-equipment
  *ngIf="isShowAddAttention"
  [(xcVisible)]="isShowAddAttention"
  [facilityOrEquipment]="facilityOrEquipment"
  [tableData]="deviceIds"
  (addAttentionChange)="onAddAttention($event)">
</app-multiple-collect-equipment>

