<!--强制修改密码弹窗-->
<div>
  <nz-modal  class="force-change-password"
    [(nzVisible)]="isVisible"
    (nzVisibleChange)="nzVisibleChange($event)"
    [nzTitle]="indexLanguage.changePassword"
    [nzMaskClosable]="false"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    [nzClosable]="false">
    <ng-template #modalContent>
      <xc-form [column]="formColumn" (formInstance)="formInstance($event)"></xc-form>
      <!--提示信息-->
      <span class="tips">{{tips}}</span>
    </ng-template>
    <ng-template #modalFooter>
      <!--确认按钮-->
      <button class="link-button" nz-button nzType="primary" (click)="handleOk()"  [disabled]="!isDisable">
        {{userLanguage.okText}}
      </button>
    </ng-template>
  </nz-modal>
</div>
