<div class="lighting-details">
  <div class="details">
    <h3>策略详情</h3>
    <div class="details-content">
      <nz-table #smallTable nzBordered [nzData]="data" style="width: 100%;padding: 15px">
        <thead>
        <tr>
          <th>序号</th>
          <th>触发条件</th>
          <th>执行条件</th>
          <th>执行对象/事件</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of smallTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.age }}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isStrategy"
  nzTitle="删除策略"
  nzWidth="500"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <p>是否确定删除?</p>
</nz-modal>
