<!-- 分组列表-->
<div class="group-warp">
  <xc-table [dataSet]="dataSet"
            [pageBean]="pageBean"
            [tableConfig]="tableConfig"
            (pageChange)="pageChange($event)">
  </xc-table>
</div>

<!--亮度调整-->
<nz-modal
  *ngIf="isBrightness"
  [(nzVisible)]="isBrightness"
  [nzMaskClosable]="false"
  (nzOnCancel)="isBrightness=false;dimmingLightValue=0"
  [nzFooter]="scheduleModalFooter"
  [nzTitle]="languageTable.equipmentTable.light"
  nzWidth="500">
  <app-slider-model [dimmingLightValue]="dimmingLightValue"  (sliderNotify)="handleSlider($event)"></app-slider-model>
  <ng-template #scheduleModalFooter>
    <button class="link-button" nz-button nzType="primary" (click)="handleOk()">
      {{languageTable.strategyList.confirm}}
    </button>
    <button class="link-button" nz-button nzType="danger" (click)="handleCancel()">
      {{languageTable.strategyList.cancel}}
    </button>
  </ng-template>
</nz-modal>


