<div class="user-detail">
  <div>
    <span class="pageTitle">
      {{pageTitle}}
    </span>
  </div>
  <div>
    <xc-form [column]="formColumn" (formInstance)="formInstance($event)"></xc-form>
    <div class="pad-l-20 pad-t-40 pad-b-20">
      <button class="link-button mar-r-20" nz-button nzType="primary"  (click)="submit()" [nzLoading]="isLoading" [disabled]="!formStatus.getValid()">{{language.confirm}}</button>
      <button class="link-button" nz-button nzType="danger" (click)="goBack()">{{language.cancel}}</button>
    </div>
  </div>
</div>
<!-- 权限生效时间 -->
<ng-template #effectiveTimeTemp let-data="data">
  <nz-date-picker
      nzShowTime
      [nzDisabledDate]="disabledStartDate"
      [(ngModel)]="authEffectiveTime"
      nzPlaceHolder=""
      (ngModelChange)="effectiveOnChange($event)"
      (nzOnOk)="effectiveOnOk($event)"
    ></nz-date-picker>
</ng-template>
<!-- 权限失效时间 -->
<ng-template #expirationTimeTemp let-data="data">
  <nz-date-picker
  nzShowTime
  [nzDisabledDate]="disabledEndDate"
  [(ngModel)]="authExpirationTime"
  nzPlaceHolder=""
  (ngModelChange)="expirationOnChange($event)"
  (nzOnOk)="expirationOnOk($event)"
></nz-date-picker>
</ng-template>

<!-- 被授权用户 -->
<ng-template #userTemp let-formGroup="formGroup" let-col="col">
  <div>
    <span class="area-name" [title]="selectUserName">{{selectUserName}}</span>
    <button type="button" class="open-button" (click)="showUserListModal()">
      <i  class="icon-fiLink fiLink-search-index iconfont"></i></button>
  </div>
</ng-template>

<!-- 统一授权范围 -->
<ng-template #authRangeTemp let-formGroup="formGroup" let-col="col">
  <form [formGroup]="formGroup">
    <button type="button" class="buttonStyle"  nz-button (click)="showFacilityListModal()">
      <i class="icon-fiLink-l iconfont fiLink-authority"></i>
      <span  class="v-middle mar-l-5" >{{language.unifiedScopeAuthority}}</span>
    </button>
  </form>
</ng-template>
<!-- 设施列表 -->
<ng-template #facilityListTemp>
  <div  class="mar-t-minus-35 pad-t-20">
    <xc-table #authXcTableComp
              [dataSet]="facilityDataSet"
              [pageBean]="facilityPageBean"
              [tableConfig]="facilityTableConfig"
              (pageChange)="facilityPageChange($event)">
    </xc-table>
  </div>
</ng-template>

<!--设施状态 -->
<ng-template #deviceStatusTemp let-data="data">
  <div class="area-level">
    <i [class]="'icon-fiLink-l iconfont '+data['deviceStatusIconClass']+' '+data['deviceStatusColorClass']"
    ></i>
    <span class="status-text" [title]="data['deviceStatus']">{{data['deviceStatus']}}</span>
  </div>
</ng-template>
<!--设施类型 -->
<ng-template #deviceTypeTemp let-data="data">
  <i [ngClass]="data['iconClass']" class="device-type-icon"></i>
  <span class="status-text" [title]="data['deviceType']">{{data['deviceType']}}</span>
</ng-template>



<ng-template #doorLocksTemp let-data="data">
    <div *ngFor="let item of data._lockList">
        <label nz-checkbox [(ngModel)]="item.checked" [title]="item.value"  class="float-l labelStyle" (click)="checkOptions(item)" >{{item.label}}</label>
    </div>
</ng-template>

<!-- 用户单选框 -->
<ng-template #radioTemp let-data="data">
  <nz-radio-group [(ngModel)]="selectedUserId" (ngModelChange)="selectedUserChange($event, data)">
    <label nz-radio [nzValue]="data.id"></label>
  </nz-radio-group>
</ng-template>
<!-- 单位部门模板 -->
<ng-template #departmentTemp let-data="data">
  <span class="width-style" title="{{data.department?.deptName}}">{{data.department?.deptName}}</span>
</ng-template>
<!-- 单位部门过滤选择框模板-->
<ng-template #unitNameSearch let-filterValue="filterValue">
  <span class="unit-name hidden" (click)="showModal(filterValue)" [class.placeholder]="!selectUnitName"
        [title]="selectUnitName">{{selectUnitName || commonLanguage.clickSelect}}</span>
</ng-template>

<!-- 用户列表弹窗 -->
<nz-modal [nzWidth]="1000"
          [(nzVisible)]="xcVisible"
          [nzTitle]="this.language.selectingAuthorizedUsers"
          [nzFooter]="modalFooter"
          (nzOnCancel)="xcVisible=false">
  <xc-table
            [dataSet]="userDataSet"
            [pageBean]="userPageBean"
            [tableConfig]="userTableConfig"
            (pageChange)="userPageChange($event)">
  </xc-table>
  <ng-template #modalFooter >
    <button class="link-button" nz-button nzType="primary" (click)="handleOk()">{{commonLanguage.confirm}}</button>
    <button class="link-button" nz-button nzType="danger" (click)="handleCancel()">{{commonLanguage.cancel}}</button>
  </ng-template>
</nz-modal>

  <!-- 单位选择器 -->
  <xc-tree-selector
    [(xcVisible)]="isVisible"
    (selectDataChange)="selectDataChange($event)"
    [treeSelectorConfig]="treeSelectorConfig">
  </xc-tree-selector>

