@import "../../../../style-module/config";

// 整体背景
.overall-background {
  background-color: $bg-c;

  .box-title {
    margin-bottom: 0;
  }

  // 策略
  .strategy {
    display: flex;

    // 使用中的策略列表
    .use-strategies {
      width: 66.7%;
      background: $bg-c-w;
      // 分割线
      .line {
        border-bottom: 0.5px solid $border-color;
        height: 54px;
        line-height: 54px;

        .strategies-title {
          display: flex;
          // 标题
          .title {
            font-size: 14px;
            font-weight: bold;
            height: 50px;
            line-height: 50px;
            padding-left: 16px;
            margin-right: 10px;
          }

          // 标题-分页
          .title-paging {
            font-size: 12px;
            height: 50px;
            line-height: 50px;
            padding-left: 10px;
            color: $disabled-font-color;

            .paging-num {
              color: $color;
            }
          }
        }

        // 右边按钮
        .right-btn {
          text-align: right;
          padding-right: 16px;
          line-height: 54px;
          // 新增
          .add {
            width: 90px;
            margin-right: 12px;
          }
        }
      }

      // 列表卡片高度
      .list-content {
        .paging-icon {
          cursor: pointer;
          position: absolute;
          top: 50%;
          font-size: 24px;
          color: $color;
        }

        // 分页不可点击
        .not-allowed {
          opacity: 0.6;
          cursor: not-allowed;
        }

        // 分页图标
        .icon-left {
          left: 16px;
        }

        .icon-right {
          right: 16px;
        }

        // 内容卡片
        .content-card {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 537px;
          padding: 20px 40px 8px 50px;

          .content-space {
            padding: 0 10px 12px 0;
            // 执行周期
            .execType {
              margin-top: 30px;
              // 卡片内容
              .content-strategyType {
                font-size: 14px;
                line-height: 20px;
                color: $sp-icon-color-7;
              }

              .execType-icon {
                color: $status-lost;
                margin-right: 8px;
              }
            }

            // 有效期
            .effectivePeriodTime {
              margin-top: 10px;
              // 卡片内容
              .content-strategyType {
                font-size: 14px;
                line-height: 20px;
                color: $prompt-font-color;
              }

              .effectivePeriodTime-icon {
                color: $frequency-color;
                margin-right: 8px;
              }
            }

            // 图标
            .img-icon {
              font-size: 16px;
              line-height: 24px;
            }

            // 策略标题
            .strategy-title {
              font-size: 13px;
              font-weight: bold;
              width: 140px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              cursor: pointer;
            }

            .title-icon {
              width: 40px;
              height: 40px;
              min-width: 40px;
              text-align: center;
              line-height: 40px;
              font-size: 24px;
              background: $frequency-color;
              color: white;
              border-radius: 50%;
              margin-right: 12px;
            }

            .switch-strategy {
              text-align: right;
              min-width: 90px;
            }

            .top-title {
              display: flex;

              .titles {
                width: 64%;
                // 卡片内容
                .content-strategyType {
                  font-size: 14px;
                  line-height: 20px;
                  color: $sp-icon-color-7;
                }
              }
            }

            // 周期
            .execCron {
              margin-top: 16px;
            }
          }
        }

        // 分页
        .paging {
          text-align: right;
          padding: 16px 24px;
        }
      }
    }

    // 便捷入口
    .convenient-entrance {
      width: 33.3%;
      margin-left: 10px;
      background: white;

      .btn-up-and-down {
        margin-top: 12px;

        .instructions {
          margin-right: 16px;
          width: 104px;
        }
      }

      // 标题
      .title {
        font-size: 14px;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        padding-left: 16px;
      }

      // 分割线
      .line {
        border-bottom: 0.5px solid $border-color;
        height: 54px;
        line-height: 54px;
      }

      // 便捷入口
      .convenient {
        padding: 18px 16px 20px 16px;

        .bottom-time {
          .title-label {
            display: flex;
            // 策略标题
            .strategy-title {
              font-size: 14px;
              font-weight: bold;
              margin-right: 16px;
              line-height: 25px;
              width: 170px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              cursor: pointer;
            }

            // 执行状态
            .execStatus {
              background: $frequency-color;
              padding: 0 8px;
              height: 20px;
              margin-top: 2px;
              line-height: 20px;
              font-size: 12px;
              color: white;
              border-radius: 4px;
            }
          }
        }

        // 有效期
        .term-validity {
          margin-bottom: 16px;
          color: $disabled-font-color;
        }

        .light {
          margin-top: 8px;
          // 音量和亮度
          .explain {
            line-height: 36px;
            min-width: 80px;

            .switch {
              color: white;
              display: inline-block;
              width: 24px;
              height: 24px;
              text-align: center;
              line-height: 24px;
              background-color: $facility-edit-color;
              border-radius: 50%;
            }

            // 亮度 图标
            .brightness {
              color: white;
              display: inline-block;
              width: 24px;
              height: 24px;
              text-align: center;
              line-height: 24px;
              background-color: $singlelightcon-color;
              border-radius: 50%;
            }

            .volume {
              display: inline-block;
              width: 24px;
              height: 24px;
              text-align: center;
              line-height: 24px;
              background-color: #B9ABF7;
              border-radius: 50%;
              color: white;
            }
          }

          .light-num {
            line-height: 36px;
            padding-left: 16px;
          }

          //开关
          .open-close {
            line-height: 36px;
          }
        }
        .light-switch{
          margin-top: 16px;
        }
      }

      // 未选中
      .unchecked {
        height: 440px;
        text-align: center;
      }
    }
  }

  // 统计图
  .statistical {
    display: flex;

    .statistical-left {
      display: flex;
      width: 66.7%;
    }

    .duration {
      width: 33.3%;
      margin-left: 10px;
    }
  }

  // 全部策略
  .all-strategy {
    color: $color;
    cursor: pointer;
  }

  .preview-box {
    width: 100%;
    height: 250px;
    // 预览
    .preview {
      width: 100%;
      height: 250px;
    }

    .picture {
      position: relative;

      .picture-btn {
        height: 36px;
        width: 100%;
        position: absolute;
        background-color: rgba(43, 51, 63, 0.7);
        bottom: 0;

        .btn-box {
          display: flex;
          width: 120px;
          margin: auto;

          .btn-icon {
            width: 40px;
            height: 36px;
            cursor: pointer;
            text-align: center;
            line-height: 40px;

            .icon-up {
              font-size: 22px;
              color: $color;
              background: white;
              border-radius: 50%;

              &:hover {
                color: $bg-c-w;
                background: $color;
              }
            }
          }
        }
      }
    }


  }

  .preview-video {
    background-color: black;
  }

  .pie-chart {
    display: flex;

    .equipmentStatusData {
      width: 50%;
    }
  }

  .workbench-title {
    background: white;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px 0 20px 10px;
    font-weight: bold;
  }

  .default-page {
    text-align: center;
    background-color: $bg-c-w;
    padding: 23vh 0;

    .default-p {
      color: $disabled-font-color;
      line-height: 40px;
    }
  }
}

// 折线图
.line-chart {
  width: 50%;
  background-color: $bg-c-w;
  margin-top: 10px;

  .bottom-line {
    display: flex;
    border-bottom: 0.5px solid $border-color;
    height: 54px;
    line-height: 54px;
    color: #333;
    position: relative;
    // 统计标题
    .statistics-title {
      margin-left: 16px;
      margin-right: 5px;
      font-weight: bold;
      white-space: nowrap;
      min-width: 50px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    // 选择时间
    .select-time {
      padding-right: 20px;
      line-height: 54px;
      width: 240px;
      margin-left: 20px;
      position: absolute;
      right: 0;
    }
  }

  .empty-container {
    height: 266px;
    padding-top: 80px;
  }

  .chart{
    height: 266px;
  }
}

.programLaunchQuantity {
  margin-left: 10px;
}

/**
 * 卡片样式
 */
.card-content {
  border: 1px solid $border-color;
  height: 156px;
  padding: 16px;
  cursor: pointer;
  border-radius: 4px;

  .available-img {
    text-align: center;
    margin-top: 30px;
  }

  .available-text {
    text-align: center;
  }
}

/**
 * 被选中的列表（样式放最下面）
 */
.be-selected {
  border: 1px solid $color;
}
