.level-box {
    display: flex;
  .box-icon {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
    align-self: center;
    margin-right: 6px;
  }
  .alarm-level-left {
    margin-left: 5px;
  }
}
