@import "../../../../../style-module/config";
.protocol-form {
  position: relative;
  .btn {
    padding: 40px 0 20px 20px;
    .btn-space {
      margin-right: 20px;
    }
  }
}
.form-width {
  width: 300px;

  .file-input {
    display: none;
  }

  .file-name {
    width: 280px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .file-name-wrap {
    position: relative;
    cursor: pointer;

    .del-icon {
      position: absolute;
      right: 0;
      top: 13px;
      opacity: 0;
      color: $error-color;
    }

    &:hover {

      .del-icon {
        opacity: 1;
      }
    }
  }
}
.auto-wrapper {
  display: flex;
  align-items: center;
  .input-name {
    width: 300px;
  }
  .auto-icon {
    position: absolute;
    left: 103%;
    cursor: pointer;
  }
}
