    <xc-table [dataSet]="equipmentDataSet"
              [pageBean]="equipmentListPageBean"
              [tableConfig] = "equipmentTableConfig"
              (pageChange) = "pageChange($event)">
    </xc-table>


    <!--设备类型模板展示-->
    <ng-template #equipmentTypeTemplate let-data="data">
      <i class="device-type-icon" [ngClass]="data.iconClass"></i>
      <span class="status-text" [ngStyle]="data.rowStyle"
            title="{{data.equipmentType | translate: equipmentTypeEnum: languageEnum.facility}}">
    {{data.equipmentType | translate: equipmentTypeEnum: languageEnum.facility}}
  </span>
    </ng-template>

    <!--设备状态模板展示-->
    <ng-template #equipmentStatusTemplate let-data="data">
      <div class="area-level">
        <i [class]="'iconfont '+data.statusIconClass+' '+data.statusColorClass"></i>
        <span class="status-text"
              title="{{data.equipmentStatus | translate: equipmentStatusEnum: languageEnum.facility}}"
              [ngStyle]="data.rowStyle">
          {{data.equipmentStatus | translate: equipmentStatusEnum: languageEnum.facility}}
    </span>
      </div>
    </ng-template>
