@import "../../../../style-module/config";
.mar_none{
  margin: 0;
}
.report-header{
  padding: 0 16px 20px;
  h4 {
    font-size: 16px;
    font-weight: bold;
  }
  border-bottom: 10px solid $bg-c;
}
.report-content{
  font-size: 14px;
  color: #333;
  padding: 10px 0 0;
   // tab标签样式
  /deep/.ant-tabs-nav .ant-tabs-tab {
    padding: 12px 4px;
  }
}
.report-analysis-title{
  height: 54px;
  line-height: 54px;
  border-bottom: 2px solid $bg-c;
  font-weight: bold;
}
.report-analysis-content{
  min-height: 300px;
  padding: 10px 16px;
  position: relative;
  .graph-box{
    padding-top: 8px;
    position: relative;
    .change-to-table{
      position: absolute;
      right: 45px;
      top:4px;
      z-index: 999;
      .change-title-tip{
        position: absolute;
        bottom: -23px;
        right: -14px;
        font-size: 12px;
        color: #36cfc9;
        width: 40px;
      }
    }
    .empty-container {
      margin-top: 50px;
    }
  }
  .chart {
    height: 400px;
  }
}
.pad-l-16{
  padding-left: 16px;
}
