<div class="operating-body">
  <div class="information-screen" *ngIf="isShowScreen">
    <!--信息屏-->
    <screen-program-broadcast
      [operatePermissionEnum]="indexInformationScreenOperatePermission"
      [equipmentId]="isData.equipmentId"
      [equipmentModel]="isData.equipmentModel"
    ></screen-program-broadcast>
  </div>
  <div *ngIf="isShowCamera">
    <div class="camera">
      <!--摄像头-->
      <app-split-screen
        #splitScreen
        [equipmentId]="isData.equipmentId"
        [whereUsed]="'homePage'"
        [isWorkbench]="false">
      </app-split-screen>
    </div>
    <div class="camera-operating">
      <!--摄像头操作-->
      <app-camera-settings
        [isWorkbench]="false"
        [equipmentId]="isData.equipmentId"
        [channelId]="splitScreen.channelId"
        [params]="splitScreen.params"
        [lRealHandle]="splitScreen.lRealHandle"></app-camera-settings>
    </div>
  </div>
  <!--基础操作-->
  <div class="basicOperation">
    <ng-container #elseTemplate *ngFor="let item of operationData">
      <xc-dynamic-render [componentName]="item.componentName"
                         [componentInputs]="item.data">
      </xc-dynamic-render>
    </ng-container>
  </div>

  <div *ngIf="this.noData" class="no-data">
    {{'暂无操作'}}
  </div>

</div>
