<!--设备列表-->
<div class="equipment-warp">
  <div class="table-wrapper" [ngClass]="isSecurity ? '': 'equipment-lighting'">
    <div class="security" *ngIf="isSecurity">
      <ng-content></ng-content>
    </div>
    <div [ngClass]="isSecurity ? 'security-table': 'equipment-list'">
      <xc-table [dataSet]="dataSet"
                [pageBean]="pageBean"
                [tableConfig]="tableConfig"
                (pageChange)="pageChange($event)">
      </xc-table>
    </div>
  </div>
</div>

<!--设备类型模板-->
<ng-template #equipmentTypeTemp let-data="data">
  <i [ngClass]="data.iconClass" class="device-type-icon"></i>
  <span class="status-text" title=" {{data.equipmentType | translate: equipmentTypeEnum: languageEnum.facility}}">
    {{data.equipmentType | translate: equipmentTypeEnum: languageEnum.facility}}
  </span>
</ng-template>

<!--设备状态模板-->
<ng-template #equipmentStatusTemp let-data="data">
  <div class="area-level">
    <i [class]="'icon-fiLink-l iconfont '+data.statusIconClass+' '+data.statusColorClass"></i>
    <span class="status-text"
          title="{{data.equipmentStatus | translate: equipmentStatusEnum: languageEnum.facility}}">
          {{data.equipmentStatus | translate: equipmentStatusEnum: languageEnum.facility}}
    </span>
  </div>
</ng-template>

<!--备注换行处理-->
<ng-template #remarkTable let-data="data">
  <div class="transfer-reason"
       [title]="data['remarks']">
    {{data['remarks']}}
  </div>
</ng-template>

<!--亮度调整-->
<nz-modal
  *ngIf="isBrightness"
  [(nzVisible)]="isBrightness"
  [nzMaskClosable]="false"
  (nzOnCancel)="isBrightness=false"
  [nzTitle]="languageTable.equipmentTable.light"
  [nzFooter]="scheduleModalFooter"
  nzWidth="500">
  <app-slider-model [dimmingLightValue]="dimmingLightValue" (sliderNotify)="handleSlider($event)"></app-slider-model>
  <ng-template #scheduleModalFooter>
    <button class="link-button" nz-button nzType="primary" (click)="handleOk()">
      {{languageTable.strategyList.confirm}}
    </button>
    <button class="link-button" nz-button nzType="danger" (click)="handleCancel()">
      {{languageTable.strategyList.cancel}}
    </button>
  </ng-template>
</nz-modal>

<!--设施过滤输入框-->
<ng-template #facilityTemplate let-filterValue="filterValue">
  <input nz-input
         type="text"
         [placeholder]="equipmentLanguage.picInfo.pleaseChoose"
         [(ngModel)]="filterValue.filterName||filterDeviceName"
         (click)="onShowFacility(filterValue)">
</ng-template>

<!--设施过滤选择器-->
<facility-list-selector-component
  *ngIf="facilityVisible"
  [(facilityVisible)]="facilityVisible"
  [multiple]="true"
  [selectFacilityIds]="selectFacility"
  title="{{equipmentLanguage.facilityList}}"
  (selectDataChange)="onFacilityChange($event)"
>
</facility-list-selector-component>

<ng-template #equipmentBusinessTemp let-data="data">
  <div class="area-level">
    <span class="status-text"
          [ngStyle]="data.rowStyle"
          title="{{data.businessStatus | translate: businessStatusEnum: languageEnum.facility}}">
          {{data.businessStatus | translate: businessStatusEnum: languageEnum.facility}}
    </span>
  </div>
</ng-template>
