//build3 纤芯成端功能

//右侧下拉选择框
.terminationStepRight {
  float: left;
  width: 800px;
  height: 430px;
  padding-left: 27px;
}

.background {
  border: 1px solid #36cfc9;
}

//步骤条
.terminationStep {
  padding-top: 170px;
  float: left;
  width: 200px;
  height: 430px;
  border-right: 1px solid #e8e8e8;
  //border-color: gray;
}

//配置纤芯成端头部样式
.configureTheCoreToEnd {
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #e8e8e8;
  width: 1050px;
  margin-bottom: 10px;
  height: 35px;
}

/deep/ .ant-steps-item-process .ant-steps-item-icon {
  background: #36d1c9;
  border-color: #36d1c9;
}

/deep/ .ant-steps-item-finish > .ant-steps-item-tail::after {
  background-color: #36d1c9;
}

/deep/ .ant-steps-item-finish .ant-steps-item-icon {
  border-color: #36d1c9;
}

/deep/ .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #36d1c9;
}

/deep/ .ant-steps-item-title {
  font-size: 14px;
}

.stepTitle {
  border-left: 2px solid #009dda;
  padding-left: 20px;
}

/deep/ .ant-modal-footer {
  padding: 20px 16px;
}

.quneeMap {
  height: 386px;
  width: 800px;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  position: relative;
  flex: 4;

  .right-menu {
    position: absolute;
    min-width: 80px;
    min-height: 20px;
    margin: 2px 0 0;
    padding-left: 5px;
    font-size: 14px;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background: white;
    background-clip: padding-box;
    z-index: 1000;
  }

  .right-menu:hover {
    background-color: #BFBFBF;
  }
}

/deep/ .ant-modal-header {
  border-bottom: 1px solid #e8e8e8;
}


