<nz-card [nzTitle]="language.alarm" [nzExtra]="extraTemplate">
  <nz-card-tab>
    <div class="box-container">
      <i nz-tooltip [nzTitle]="language.alarmIncrementalInfo"  nz-icon class="anticon anticon-question-circle alarm-info" ng-reflect-type="question-circle">
        <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" data-icon="question-circle" aria-hidden="true">
          <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path>
          <path d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7a48.3 48.3 0 0 1 30.9-44.8c59-22.7 97.1-74.7 97.1-132.5.1-39.3-17.1-76-48.3-103.3zM472 732a40 40 0 1 0 80 0 40 40 0 1 0-80 0z">
          </path>
        </svg>
      </i>
      <nz-tabset [nzAnimated]="false" [(nzSelectedIndex)]="tabIndex">
        <nz-tab *ngIf="checkHasRole('02-1')" nzTitle="{{language.currentAlarm}}">
          <nz-spin class="facility-detail" [nzSpinning]="pageLoading">
            <div class="chart-container" >
              <div echarts [options]="ringOption" class="demo-chart ring"></div>
              <div echarts [options]="chartOption" class="demo-chart chart"></div>
              <div echarts [options]="columnarOption" class="demo-chart columnar"></div>
            </div>
          </nz-spin>
          <div class="alarm-container">
            <div>
              <xc-table [dataSet]="dataSet"
                        [tableConfig]="tableConfig">
              </xc-table>
            </div>
          </div>
        </nz-tab>
        <nz-tab *ngIf="checkHasRole('02-2')" nzTitle="{{language.historyAlarm}}">
          <nz-spin class="facility-detail" [nzSpinning]="pageLoading">
            <div class="chart-container">
              <div echarts [options]="ringOptionHistory" class="demo-chart ring"></div>
              <div echarts [options]="chartOptionHistory" class="demo-chart chart"></div>
              <div echarts [options]="columnarOption" class="demo-chart columnar"></div>
            </div>
          </nz-spin>
          <div class="alarm-container">
            <xc-table
              [dataSet]="dataSetHistory"
              [tableConfig]="tableConfigH">
            </xc-table>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </nz-card-tab>
</nz-card>

<!--时间选择器模板-->
<ng-template #extraTemplate>
  <div class="timer-container">
    <app-alarm-time-selector [timeList]="timeList" [dateType]="dateType" (changeFilter)="changeFilter($event)"></app-alarm-time-selector>
    <a class="more" (click)="navigatorTo(tabIndex)">{{commonLanguage.more}} >></a>
  </div>
</ng-template>

<!--告警级别模板-->
<ng-template #alarmLevelTemp let-data="data">
  <div class="hidden" title="{{data.alarmLevelName}}">
    <span class="box-color-icon alarm-level-icon"
          [ngStyle]="data.style">
    </span>
    {{data.alarmLevelName}}
  </div>
</ng-template>

<!-- 创建工单 -->
<app-add-work-order
  *ngIf="creationWorkOrder"
  [isShowModal]="creationWorkOrder"
  [modalTitle]="language.buildOrder"
  [alarmInfo]="creationWorkOrderData"
  (close)="creationWorkOrder=false"
></app-add-work-order>

<!-- 修改备注弹框 -->
<nz-modal
  class="updateRemarkPopUp"
  [(nzVisible)]="remarkTable"
  [nzTitle]="language.updateRemark"
  [nzMaskClosable]="false"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="remarkTable=false">
  <ng-template #modalTitle>
    {{language.updateRemark}}
  </ng-template>
  <!--备注模版-->
  <ng-template #modalContent>
    <xc-form [column]="formColumnRemark" (formInstance)="formInstanceRemark($event)"></xc-form>
  </ng-template>
  <!--自定义弹框按钮-->
  <ng-template #modalFooter>
    <button class="link-button" nz-button nzType="primary" [nzLoading]="isLoading"
            [disabled]="!formStatusRemark.getValid()" (click)="updateAlarmRemark();">{{language.okText}}</button>
    <button class="link-button" nz-button nzType="default" (click)="remarkTable=false">{{language.cancelText}}</button>
  </ng-template>
</nz-modal>
