@import "../../../../../style-module/config";
.box-container {
  background: $bg-c-w;
  position: relative;
  .alarm-info{
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 99;
    color: $color;
  }
}

.demo-chart {
  width: 300px;
  max-height: 300px;
}

.ring {
  flex: 2;
}

.chart {
  flex: 3;
}

.columnar {
  flex: 4;
}

:host ::ng-deep {
  .ant-tabs-nav {
    padding-left: 15px;
    line-height: 41px;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    color: $color;
    font-size: 14px;
    font-weight: bold;
  }

  .ant-tabs-ink-bar {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 1px;
    box-sizing: border-box;
    height: 3px;
    background-color: $color;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
.alarm-container {
  position: relative;
  padding: 0 32px 40px;
}

.more {
  margin-left: 20px;
  cursor: pointer;
  color: $color;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  width: 100%
}

.timer-container {
  display: flex;
  margin-top: 12px;
  margin-right: 10px;
}
.alarm-level-icon{
  display: inline-block;margin-right: 5px;
}
