<nz-card [nzTitle]="language.devicePic">
  <div class="device-img-container">
    <div  class="device-img-item" *ngFor="let item of devicePicInfo">
      <img class="photo" [src]="item.picUrlBase" (click)="clickImage(item)" alt=""/>
      <div class="info-item">
        <span>{{language.picDate}}</span> <span>{{item.ctime | dynamic: 'date' : null}}</span>
      </div>
      <div class="info-item">
        <span>{{language.picSize}}</span> <span>{{item.picSize}}</span>
      </div>
      <div class="info-item">
        <span>{{language.picResource}}</span> <span>{{item.resourceName}}</span>
      </div>
    </div>
  </div>
</nz-card>
