<div class="box-warp">
  <div class="pageTitle">
      {{ pageTitle }}
  </div>
  <div class="trouble-wrap">
    <xc-form [column]="formColumn" (formInstance)="formInstance($event)" class="form-column-width"></xc-form>
    <div class="trouble-btn-box">
      <button class="link-button" nz-button nzType="primary" [nzLoading]="sureLoading"
              (click)="submit()" [disabled]="isSubmit">{{language.okText}}
      </button>
      <button class="link-button" nz-button nzType="danger" (click)="cancel()">{{language.cancelText}}</button>
    </div>
  </div>

</div>
<!-- 责任单位 -->
<ng-template #department let-formGroup="formGroup" let-col="col">
  <div>
    <span class="area-name" [title]="assignDeptName">{{assignDeptName}}</span>
    <button type="button" class="open-button"
            (click)="showAreaSelectorModal()" [disabled]="isDisable"><i
      class="icon-fiLink fiLink-search-index iconfont"></i></button>
  </div>
</ng-template>

<!--单位选择器-->
<xc-tree-area-selector
  [(xcVisible)]="unitSelectVisible"
  [treeSelectorConfig]="unitSelectorConfig"
  [canClear]="false"
  (selectDataChange)="unitSelectChange($event)"
>
  <!--责任人-->
  <ng-template #departNameTemp let-formGroup="formGroup" let-col="col">
    <div>
      <span class="area-name" [title]="assignUserName">{{assignUserName}}</span>
      <button type="button" class="open-button" (click)="showDutyNameSelectorModal()" [disabled]="isPersonDisable">
        <i class="icon-fiLink fiLink-search-index iconfont"></i></button>
    </div>
  </ng-template>
  <!--责任人-->
    <xc-tree-area-selector
      [(xcVisible)]="isPersonVisible"
      (selectDataChange)="selectDataChange($event)"
      [treeSelectorConfig]="personSelectorConfig">
    </xc-tree-area-selector>
</xc-tree-area-selector>
<nz-spin [nzSimple]="true"
         *ngIf="ifSpin"
         class="loading"
         [nzSpinning]="true"
></nz-spin>
