@import '../../../style-module/config';
.odn-device-resources {
  padding: 10px 10px;

  .width-170{
    width: 170px;
  }
  .check-select-all{
    display: inline-block;
  }

  .width-286{
    width: 286px;
  }
  .top-statistical-num{
    position: relative;
  }

  .width-70{
    width: 70px;
  }

  .device-name-select{
    cursor: pointer;
  }



  .statistical-number {
    width: 100px;
  }

  //.statisticalNumberError {
  //  border-color: #fb7257;
  //}
}

.barChart {
  margin-top: 10px;
  display: flex;
}

.select-height{
  min-height: 250px;
  background-color: $bg-c;
}

.chart-top-box{
  padding: 0 10px;
  .switch-lock{
    margin-left: 15px;
  }
  .chart-top-left{
    background-color: $index-eChart-background-color;
    padding: 10px;
    margin-right: 10px;
    flex: 1;
    width: 50%
  }

  .table-chart-top{
    flex: 1;
    width: 50%
  }
}
