<!--  内容列表-->
<div class="box-title">
  {{language.contentList.contentList}}
</div>

<!--列表-->
<div class="table-wrapper">
  <xc-table [dataSet]="dataSet"
            [pageBean]="pageBean"
            [tableConfig]="tableConfig"
            (pageChange)="pageChange($event)">
  </xc-table>
</div>

<!-- 责任人 -->
<ng-template #roleTemp let-data="data">
  <span class="width-style" title="{{data.assign?.userName}}">{{data.assign?.userName}}</span>
</ng-template>

<!--节目文件-->
<ng-template #programFiles let-data="data">
  <div (click)="downloadFile(data)" [title]="data.programFileName" class="program-files">{{data.programFileName}}</div>
</ng-template>

<!--备注换行处理-->
<ng-template #remarksTable let-data="data">
  <div class="program-files"
       [title]="data.remark">
    {{data.remark}}
  </div>
</ng-template>

<!--预览框-->
<nz-modal *ngIf="isPreview" [(nzVisible)]="isPreview" [nzTitle]="language.contentList.preview"
          (nzOnCancel)="onPreviewCancel()" (nzOnOk)="onPreviewOk()">
  <xc-video [hidden]="!isVideo" [options]="{width: '475px', height: '300px'}" [sourceArray]="[filePath]"></xc-video>
  <img [hidden]="isVideo" [src]="filePath" class="preview-img" alt="">
</nz-modal>
<!--发起审核框-->
<nz-modal *ngIf="isToExamine" [(nzVisible)]="isToExamine" [nzTitle]="language.contentList.initiateAudit"
          (nzOnCancel)="onToExamineCancel()" (nzOnOk)="onToExamineOk()">
  <span class="examine">{{language.contentList.checker}}:</span>
  <nz-select [(ngModel)]="reviewedBy" class="select-user">
    <nz-option *ngFor="let data of reviewedByArr" [nzValue]="data.id" [nzLabel]="data.userName"></nz-option>
  </nz-select>
</nz-modal>
