@import "../../../../../style-module/config";

.box-icon {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.current-alarm-set-box{
  background: $bg-c;
  .box-wrap{
    position: relative;
    background: $bg-c-w;
    overflow: hidden;
  }
}
.level-flex {
  display: flex;
}
.level-margin-left {
  margin-left: 5px;
}
