.dynamic-rule{
  padding-bottom: 20px;
  padding-left: 16px;

  .temp-button{
    padding-top: 20px;
    padding-left: 24px;
    .link-button{
      margin-right: 20px;
    }
  }
}
.file-name{
  height: 26px;
  line-height: 26px;
}
