<div class="detail-container">
  <div class="group-detail-info">
    <ul>
      <li class="group-name">
        <span [title]="groupModel.groupName">{{groupModel.groupName || ''}}</span>
      </li>
      <li class="group-remark">
        <span  [title]="groupModel.remark">{{groupModel.remark}}</span>
      </li>
    </ul>
  </div>
  <!--设施列表-->
  <nz-tabset [nzAnimated]="false">
    <nz-tab nzTitle="{{facilityLanguage.facilityList}}">
      <xc-table
        [dataSet]="facilityRefGroupData"
        [pageBean]="facilityRefGroupPageBean"
        [tableConfig]="facilityRefGroupTableConfig"
        (pageChange)="onFacilityRefGroupPageChange($event)">
      </xc-table>
    </nz-tab>
    <!--设备列表-->
    <nz-tab nzTitle="{{facilityLanguage.equipmentList}}">
      <xc-table
        [dataSet]="equipmentRefGroupData"
        [pageBean]="equipmentRefGroupPageBean"
        [tableConfig]="equipmentRefGroupTableConfig"
        (pageChange)="onEquipmentRefGroupPageChange($event)">
      </xc-table>
    </nz-tab>
  </nz-tabset>
</div>

<!--设施状态模板-->
<ng-template #deviceStatusRef let-data="data">
  <div class="area-level">
    <i [class]="'icon-fiLink-l iconfont '+data.deviceStatusIconClass+' '+data.deviceStatusColorClass"></i>
    <span class="status-text" title="{{data.deviceStatus | translate:deviceStatusEnum}}">
     {{data.deviceStatus | translate:deviceStatusEnum}}</span>
  </div>
</ng-template>
<!--设备状态模板-->
<ng-template #equipmentStatusRef let-data="data">
  <div class="area-level">
    <i [class]="'icon-fiLink-l iconfont '+data.statusIconClass+' '+data.statusColorClass"></i>
    <span class="status-text" title="{{data.equipmentStatus | translate:equipmentStatusEnum:languageEnum.facility}}">
      {{data.equipmentStatus | translate:equipmentStatusEnum:languageEnum.facility}}
    </span>
  </div>
</ng-template>
<!--设备类型模板-->
<ng-template #equipmentTypeRef let-data="data">
  <i [ngClass]="data['iconClass']" class="device-type-icon"></i>
  <span class="status-text" [ngStyle]="data['rowStyle']"
        title="{{data.equipmentType | translate:equipmentTypeEnum:languageEnum.facility}}">
    {{data.equipmentType | translate:equipmentTypeEnum:languageEnum.facility}}
  </span>
</ng-template>

<!--设施类型模板-->
<ng-template #deviceTypeTemp let-data="data">
  <i [ngClass]="data.iconClass" class="device-type-icon"></i>
  <span class="status-text" title="{{data.deviceType | translate: deviceTypeEnum}}">
    {{data.deviceType | translate: deviceTypeEnum}}
  </span>
</ng-template>
<!--所属设施过滤选择器-->
<facility-list-selector-component *ngIf="facilityShow"
                                  [(facilityVisible)]="facilityShow"
                                  [multiple]="true"
                                  [selectFacilityIds]="selectedFacility"
                                  title="{{facilityLanguage.facilityList}}"
                                  (selectDataChange)="onSelectData($event)">
</facility-list-selector-component>
<!--所属设施过滤模版-->
<ng-template #deviceSelectorTemplate let-filterValue="filterValue">
  <input nz-input
         type="text"
         [placeholder]="facilityLanguage.picInfo.pleaseChoose"
         [(ngModel)]="filterDeviceNameStr"
         (click)="onShowDeviceSelector(filterValue)">
</ng-template>
<!--设备列表处的设施类型模版-->
<ng-template #deviceTypeRefEquipTemp let-data="data">
  <i [ngClass]="data.deviceIcon" class="device-type-icon"></i>
  <span class="status-text" title="{{data.deviceType | translate: deviceTypeEnum}}">
    {{data.deviceType | translate: deviceTypeEnum}}
  </span>
</ng-template>
