@import "../../../../../../style-module/config";
.rule-condition-warp{
  padding: 20px;
  .add-condition {
    margin-bottom: 10px;
    color: $color;
    cursor: pointer;
   .add-icon{
      font-size: 16px;
      vertical-align: sub;
    }
    .text{
      font-size: 14px;
      vertical-align: middle;
      padding-left: 10px;
    }
  }
  .rule-condition-form{
    padding-bottom: 20px;
    position: relative;
    .form-item{
      width: 35%;
    }
    .form-border {
      padding: 30px 0 0 20px;
      border: 1px dashed $border-color;
    }
    .item-label {
      width: 140px;
      text-align: left;
    }
    .item-value {
      width: calc(100% - 140px);
    }
    .form-radio {
      width: 20%;
      .radio-box{
        display: flex;
        justify-content: center;
        .item-radio {
          display: table;
          margin-top: 5px;
        }
      }
    }
    .ensure-btn{
      margin-right: 10px;
    }
    .btn-box {
      position: absolute;
      top: 10px;
      right: 10px;
      .link-buttons{
        border: none;
        outline: 0;
        cursor: pointer;
        background: $bg-c-w;
      }
    }
  }
  .item-display {
    display: flex;
  }
  .view-warp{
    .preview-box{
      height: 150px;
      padding: 5px;
      overflow-y: auto;
      border: 1px solid $border-color;
      .item-view{
        line-height: 26px;
      }
      .view-content{
        width: 98%;
      }
      .delete{
        width: 2%;
        cursor: pointer;
      }
    }
    .view-title{
      padding-bottom: 10px;
    }
  }
}
