@import 'src/app/style-module/config';
.router-box {
  padding: 24px;
  background: $bg-c-w;
  height: 100%;
}

.facility {
  background: $bg-c-w;
  > div {
    background: $bg-c-w;
  }
}
.box-warp{
  padding: 10px;
}
