
/* You can add global styles to this file, and also import other style files */
@import "app/style-module/index";
/*滚动条样式美化*/
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
  background-clip: padding-box;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aeaeae;
}


.city_content_top {
  box-sizing: content-box;
}

#selCityWd {
  height: 24px !important;
}

.BMap_cpyCtrl {
  display: none;
}

.gmnoprint {
  display: none;
}

//禁止富文本框拖拽
textarea {
  resize: none;
}

* {
  touch-action: none;
}

body, ul, h1, h2, h3, h4, h5, li, p, i, img, label, form, div, span, input, select, textarea, button {
  touch-action: none;
}
