<div class="in-container">
  <span class="area-detail-title">
    {{title}}
  </span>
  <div class="strategy-add">
    <!--步骤条组件-->
    <div class="xc-steps">
      <app-xc-steps
        (notify)="changeSteps($event)"
        [isActiveStepsCount]="isActiveSteps"
        [setData]="setData">
      </app-xc-steps>
    </div>
    <div class="assembly">
      <!--基本信息-->
      <div [hidden]="isActiveSteps !== finalValueEnum.STEPS_FIRST">
        <app-basic-information
          #basicInfo
          [linkageType]="linkageType"
          [stepsFirstParams]="stepsFirstParams"
          [basicInfo]="applicationFinal.lighting"
          (formValid)="infoValid($event,finalValueEnum.STEPS_FIRST)">
        </app-basic-information>
      </div>
      <!--策略详情-->
      <div *ngIf="isActiveSteps === finalValueEnum.STEPS_SECOND">
        <!--照明策略 第二步-->
        <app-strategy-details  [stepsFirstParams]="stepsFirstParams"
                               (strategyDetailValidChange)="infoValid($event,finalValueEnum.STEPS_SECOND)"
        ></app-strategy-details>
      </div>
      <!--完成页面组件-->
      <div *ngIf="isActiveSteps === finalValueEnum.STEPS_THIRD" class="lighting-finish">
        <!--照明策略  第三步-->
        <app-lighting-details
                              [stepsFirstParams]="stepsFirstParams"
                              [isOperation]="isOperation">

        </app-lighting-details>
      </div>
      <!--按钮-->
      <app-button-group
        [isLoading]="isSaveLoading"
        [isDisabled]="nextButtonDisable"
        [isActiveSteps]="isActiveSteps"
        (changeSteps)="changeSteps($event)"
        (submitNotify)="handStepsSubmit()"
        (cancelNotify)="handCancelSteps()"
      ></app-button-group>
    </div>
  </div>
</div>
