@import "../../../../../../style-module/config";

.page-title {
  border-left: 2px solid $detail-title-color;
  padding-left: 18px;
  color: $title-color;
  font-size: 16px;
  font-weight: 900;
}

.user-detail{
  padding: 0 16px;
}

.open-button {
  border: none;
  outline: none;
  background: $bg-c-w;
  cursor: pointer;
}
.all-btn {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}
.select-width {
  width: 100%;
}
.ok-btn {
  margin-right: 20px;
}
.unit-width{
  width: 300px;
}
