@import "../../../../../../style-module/config";

.alarm-level {
  display: inline-block;
  text-align: center;
  width: 32px;
  height: 20px;
  color: $title-color;
}

.alarm-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
}

.box-warp {
  padding: 0px 10px 10px 10px;
}


.box-icon {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.filtration-condition{
  cursor: pointer;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


