@import "../config";
// 修改备注
.update-remark-pop-up form > div {
  padding: 0;
}

.update-remark-pop-up .xc-item {
  width: 100%;
}

.update-remark-pop-up .xc-label {
  min-width: 0;
  height: 0;
  line-height: 40px;
}

.inspection .xc-label {
  min-width: 75px;
  flex-basis: 90px !important;
}

.inspect-template {
  .xc-label {
    min-width: 85px;
  }

  .ant-input {
    width: 380px !important;
  }
}

.update-remark-pop-up {
  &.remarkModal {
    .xc-label {
      flex-basis: 80px !important;
    }

    form textarea.ant-input {
      width: 380px !important;
    }
  }
}

.diagnose-pop {
  .ant-modal-body {
    padding: 20px 20px 0 20px;
  }

  .form-suffix {
    margin-left: 6px;
  }
}
// 告警过滤新增
.alarm-filtration-form {
  form > div > div:nth-child(1), form > div > div:nth-child(4) {
    position: relative;
    width: 100%;
    height: 40px;
    & > div:nth-child(2) {
      position: static !important;
    }
  }
}
// 告警规则
.rule-condition-form{
  .item-label {
    label {
      color: $page-font-color !important;
    }
  }
  .form-radio {
    .ant-form-item{
      margin-bottom: 0;
    }
  }
}

.group-form{
  .form-row .xc-item{
    width: 100%;
  }
}
// 新增协议脚本文本框间距
.form-margin {
  form textarea.ant-input {
    margin-bottom: 20px;
  }
  .error-warp {
    bottom: 0;
  }
}
